################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Sudoku/.vs/Sudoku/v15
/Sudoku/Benchmark/obj
/Sudoku/Benchmark/bin/Debug/netcoreapp2.2
/Sudoku/Core/bin/Debug/netstandard2.0
/Sudoku/Core/obj
/Sudoku/Core.old
/Sudoku/SolverSMT/obj
/Sudoku/.vs/Sudoku/v16/Server/sqlite3
